<nav class="navbar navbar-default navbar-admin">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Le Monde</a>
        </div>
        <ul class="nav navbar-nav">

        </ul>
        <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Se déconnecter</a></li>
        </ul>
    </div>
</nav>