<ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="/">Administration</a></li>
    <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Articles
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('handle_articles') }}">Examiner les articles</a></li>
            <li><a href="{{ path('new_article') }}">Créer un article</a></li>
        </ul>
    </li>
    <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menus
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('all_menus') }}">Examiner les menus</a></li>
            <li><a href="{{ path('new_menu') }}">Créer un menu</a></li>
        </ul>
    </li>
</ul>