{% extends '@App/Admin/layout.html.twig' %}
{% block title %}Ajout d'un menu {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="enregistrer" class="btn btn-default">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}